.admin-top-bar
  span.logo Einsamkeit
  .menu.left
    a.menu-item(href="/admin/") ホーム
    a.menu-item(href="/admin/timeline") タイムライン
    a.menu-item(href="/admin/notifications") 通知
    a.menu-item(href="/admin/settings") 設定
  .menu.right
    form(action="/auth/logout", method="post")
      input(type="hidden", name="_csrf", value=csrfToken)
      button.menu-item ログアウト

