.admin-top-bar
  span.logo Einsamkeit
  .menu.left
    a(class="menu-item" href="/admin/") ホーム
    a(class="menu-item" href="/admin/timeline") タイムライン
    a(class="menu-item" href="/admin/notifications") 通知
    a(class="menu-item" href="/admin/setting") 設定
  .menu.right

