<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(defer, src="/scripts/vendor.js")
    script(defer, src="/scripts/admin.js")
    block head
    title Einsamkeit
  body
    block body
