@import '~bootstrap/scss/bootstrap-reboot';
@import url('https://fonts.googleapis.com/css?family=Playball');

@import './admin/topbar';
@import './admin/user-jumbotron';

body {
  background-color: #fed;

  .admin-body {
    margin: 10px;
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.home-layout {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: minmax(160px, 256px) 2fr;

  .user-jumbotron {
    grid-row: 1;
    grid-column: 2;
  }

  .integrated-menu {
    grid-row: 1 / 3;
    grid-column: 1;
  }
}
