@import '~bootstrap/scss/bootstrap-reboot';
@import url('https://fonts.googleapis.com/css?family=Playball');

@import './admin/topbar';
@import './admin/user-jumbotron';

body {
  background-color: #fed;

  .admin-body {
    margin: 10px;
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}
