@import "./setting";

body {
  margin: 0;
  color: #000;
}

.header {
  position: sticky;
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 1fr min-content 1fr;
  width: 100vw;

  .logo {
    grid-column: 2;
    align-self: center;
    margin: 4px;
    font-family: $logo-font-family;
    font-size: 18pt;
  }
}
